<ion-header>
  <ion-navbar>
    <ion-title>
      Catch Time
    </ion-title>
    <ion-buttons end>
      <button (click)="loadNewWorkTime()" ion-button icon-only>
        <ion-icon ios="ios-time-outline" md="md-time"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-title class="past-overview">
    <button *ngIf="isCollapseIn()" ion-button icon-only class="fa fa-caret-left btn-caret"></button>
    <button ion-button (click)="toggleCollapse()">
      <p *ngIf="isCollapseIn()">2018</p>
      <p *ngIf="!isCollapseIn()">5. Feb - 12. Feb</p>
    </button>
    <button *ngIf="isCollapseIn()" ion-button icon-only class="fa fa-caret-right btn-caret"></button>
  </ion-title>
</ion-header>

<ion-content padding class="background-theme">
  <ion-list>
    <ion-item [ngClass]="isCollapseIn() ? 'collapse-in' : 'collapse-out'" *ngFor="let month of months"
     (click)="showMonth(month.number)">
      <ion-label>{{month.name}}</ion-label>
    </ion-item>
  </ion-list>
  <month-overview *ngIf="isMonthOverview" [month]="selectedMonth" [year]=2018></month-overview>

  <div *ngIf="!isCollapseIn() && !isMonthOverview" class="calendar-overview">
    <ion-grid>
      <ion-row class="calendar-row" *ngFor="let weekDay of weekDays" (click)="loadDayOverview(weekDay)">
        <ion-col class="calendar-day">
          {{formatDay(weekDay.date)}}
        </ion-col>
        <ion-col col-10>
          <ion-row>
            <ion-col class="calendar-date">
              <b>{{formatDate(weekDay.date)}}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="calendar-input">
              <div *ngIf="weekDay.start">
                {{weekDay.start + ' '}}-{{' ' + weekDay.end}}
                <span item-content class="day-overflow" *ngIf="weekDay.dayOverflow">(Folgetag)</span>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>