ion-textarea textarea{
    height: 7em;
    font-style: italic;
    resize: none;
}
.item-input-has-focus .label-md[fixed] , .input-has-focus .label-md[fixed] {
    color: red;
}
.day-overflow{
    // float: right;
    font-weight: 450 !important;
    color: grey;
}
.fs-1{
    font-size: 1em !important;
}
.ml-1{
    margin-left: 1em !important;
}