ion-textarea textarea{
    height: 7em;
    font-style: italic;
}
ion-item.item-input-has-focus div.item-inner div ion-label{
    color: rgb(39, 155, 73) !important;
}
ion-label{
    font-weight: 500;
    color:black !important;
}
.fs-1{
    font-size: 1em !important;
}
.ml-1{
    margin-left: 1em !important;
}