page-new-work-time {

ion-datetime button:hover{
    border-bottom: 1px solid rgb(39, 155, 73);
}
ion-item.item-input-has-focus div.item-inner div ion-label{
    color: rgb(39, 155, 73) !important;
}
.day-overflow{
    float: right;
}
ion-label{
    font-weight: 500;
    color:black;
}

}
